* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    -webkit-tap-highlight-color: transparent;
}

html {
    font-size: 100px;
}

body {
    font: 0.12rem/100% '微软雅黑';
}

li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    font-size: 0.12rem;
    line-height: 0.12rem;
}

input {
    border: none;
    outline: none;
}

a {
    text-decoration: none;
    color: black;
}

img {
    vertical-align: middle;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clearfix::after,
.clearfix::before {
    content: '';
    display: block;
    clear: both;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.clearfix {
    *zoom: 1;
}