.van-popup {
  width: 100%;
  height: 100%;
}
.alertBox {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
}
.alertBox p:nth-of-type(1) {
  color: #8f8f8f;
  font-size: .3rem;
  margin-bottom: .3rem;
}
.alertBoxFooter {
  height: .6rem;
  width: 100%;
  background: #ffffff;
  z-index: 100;
  position: fixed;
  bottom: 0;
}
.home_header {
  width: 100%;
  height: .37rem;
  background-color: #07c160;
  display: flex;
}
.home_header .home_address {
  width: 18%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home_header .home_address .van-button {
  background-color: #07c160 !important;
  border-color: #07c160 !important;
  height: .37rem;
  line-height: 0;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.home_header .home_address .van-button .van-button__text {
  font-size: .14rem;
  width: .72rem;
}
.home_header .home_address .van-button--normal {
  padding: 0;
}
.home_header .home_search {
  width: 82%;
  position: relative;
}
.home_header .home_search .van-search {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: .3rem;
  width: 98%;
  border-radius: .2rem;
}
.home_header .home_search .van-search .van-cell {
  display: flex;
  align-items: center;
}
.home_header .home_search .van-search .van-cell .van-field__left-icon {
  margin-top: .03rem;
  width: .16rem;
  height: .24rem;
}
.home_header .home_search .van-search .van-cell .van-field__left-icon .van-icon::before,
.home_header .home_search .van-search .van-cell .van-field__left-icon .van-icon-search::before {
  width: .16rem;
  height: .24rem;
}
.home_header .home_search .van-search .van-cell .van-cell__value .van-field__body .van-field__control {
  font-size: .14rem;
}
.home_header .home_search .van-search .van-search__content {
  background: white;
  height: .29rem;
  border-radius: .2rem;
}
.home_nav {
  width: 98%;
  margin-left: 1%;
}
.home_nav ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.home_nav ul li {
  width: 23%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home_nav ul li img {
  width: .62rem;
  height: .62rem;
  margin: .15rem 0 .05rem 0;
}
.home_nav ul li p {
  text-align: center;
}
.home_banner {
  margin: .15rem 0 0 0;
}
.home_bulletin_content {
  height: .33rem;
  width: 100%;
  position: relative;
}
.home_bulletin_content .home_bulletin_content_img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: .17rem;
}
.home_bulletin_content .home_bulletin_content_swipe {
  padding-left: 1rem;
  height: .33rem !important;
  line-height: .33rem;
}
.home_bulletin_content .van-swipe-item {
  color: black;
  padding-top: 1px;
  padding-bottom: 1px;
}
.home_recommend {
  width: 100%;
}
.home_recommend img {
  width: 100%;
}
.productList ul div {
  display: flex;
  overflow-x: auto;
  margin: 0 .1rem .1rem .1rem;
}
.productList ul div li:nth-of-type(1) {
  margin-left: 0;
}
.productList ul div li {
  width: 1.1845rem;
  height: 1.6877rem;
  border: 1px solid #ebebeb;
  box-shadow: 0rem 0rem 0.02rem #d4d4d4;
  border-radius: .08rem;
  margin-left: .1rem;
}
.productList ul div li p:nth-of-type(1) {
  position: relative;
}
.productList ul div li p:nth-of-type(1) .saleSlogan {
  display: inline-block;
  padding: 0 .1rem 0 .1rem;
  height: .2rem;
  background: red;
  color: white;
  border-radius: 2rem 3.31rem 3.31rem 0;
  text-align: center;
  line-height: .2rem;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: .1rem;
}
.productList ul div li .commodityName {
  font-size: .11rem;
  width: 90%;
  margin: .05rem 5% .08rem 5%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.productList ul div li .commodityPrice {
  font-size: .11rem;
  color: red;
  margin: 0 0 0 3%;
}
.productList ul div li .shopcarImg {
  width: .22rem;
  height: .22rem;
  background: #07c160;
  border-radius: .15rem;
  float: right;
  margin-right: .08rem;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
}
.productList ul div li .shopcarImg img {
  width: .22rem;
}
.home_bannerLink {
  width: 100%;
}
.home_bannerLink ul {
  display: flex;
}
.home_bannerLink ul img {
  width: 100%;
}
.home_commodity_box {
  background: #fafafa;
}
.home_commodityList {
  background: #fafafa;
}
.home_commodityList ul {
  background: #fafafa;
}
.home_commodityList ul li {
  background: white;
  height: 1rem;
  width: 93%;
  height: 1.18rem;
  margin-left: 3.5%;
  border: 1px solid #ebebeb;
  box-shadow: 0rem 0rem 0.02rem #d4d4d4;
  border-radius: .08rem;
  margin-bottom: .1rem;
}
.home_commodityList ul li .home_commodityList_content {
  display: flex;
  width: 100%;
}
.home_commodityList ul li .home_commodityList_content .home_commodityList_img {
  width: 30%;
  height: 1.18rem;
  display: flex;
  align-items: center;
  margin: 0 .05rem 0 .05rem;
}
.home_commodityList ul li .home_commodityList_content .home_commodityList_img img {
  height: .8rem;
}
.home_commodityList ul li .home_commodityList_content .home_commodityList_info {
  width: 64%;
}
.home_commodityList ul li .home_commodityList_content .home_commodityList_info .home_commodityList_info_title {
  margin: .15rem 0 .15rem 0;
}
.home_commodityList ul li .home_commodityList_content .home_commodityList_info .home_commodityList_info_title .commodityName {
  width: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: .13rem;
}
.home_commodityList ul li .home_commodityList_content .home_commodityList_info .home_commodityList_info_brief {
  width: 100%;
  display: flex;
}
.home_commodityList ul li .home_commodityList_content .home_commodityList_info .home_commodityList_info_brief .saleSlogan {
  width: auto;
  height: .15rem;
  padding: 0 .08rem 0 .08rem;
  border: 1px solid #07c160;
  color: #07c160;
  text-align: center;
  border-radius: .15rem;
  font-size: .1rem;
  white-space: nowrap;
}
.home_commodityList ul li .home_commodityList_content .home_commodityList_info .home_commodityList_info_brief .saleSlogan span {
  width: 40%;
  font-size: .1rem;
}
.home_commodityList ul li .home_commodityList_content .home_commodityList_info .home_commodityList_info_brief .subTitle {
  margin-left: 3%;
  width: 67%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #9e9e9e;
}
.home_commodityList ul li .home_commodityList_content .home_commodityList_info .home_commodityList_info_company {
  margin-top: .3rem;
  position: relative;
  width: 100%;
}
.home_commodityList ul li .home_commodityList_content .home_commodityList_info .home_commodityList_info_company .home_commodityList_info_company_price {
  color: red;
  font-size: .16rem;
  font-weight: bold;
}
.home_commodityList ul li .home_commodityList_content .home_commodityList_info .home_commodityList_info_company .home_commodityList_info_company_num {
  font-size: .1rem;
  color: #9e9e9e;
}
.home_commodityList ul li .home_commodityList_content .home_commodityList_info .home_commodityList_info_company .shopcarImg {
  width: .22rem;
  height: .22rem;
  background: #07c160;
  border-radius: .15rem;
  position: absolute;
  bottom: -0.05rem;
  right: .1rem;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home_commodityList ul li .home_commodityList_content .home_commodityList_info .home_commodityList_info_company .shopcarImg img {
  width: .22rem;
}
.home_palacesImg_box {
  background: #fafafa;
  height: 60.7rem;
}
.home_palacesImg {
  background: #fafafa;
}
.home_palacesImg ul {
  width: 100%;
  height: 100%;
  padding: 0 4% 0 4%;
  background: #fafafa;
}
.home_palacesImg ul .home_palacesImg_title {
  width: 100%;
  height: .2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: .1rem;
  font-size: .15rem;
}
.home_palacesImg ul .home_palacesImg_title span {
  margin: 0 .1rem 0 .1rem;
}
.home_palacesImg ul div {
  background: #fafafa;
}
.home_palacesImg ul div li {
  background: white;
  float: left;
  margin-bottom: .1rem;
  width: 48.5%;
  height: 1.6877rem;
  border: 1px solid #ebebeb;
  box-shadow: 0rem 0rem 0.02rem #d4d4d4;
  border-radius: .08rem;
  position: relative;
}
.home_palacesImg ul div li p:nth-of-type(1) {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home_palacesImg ul div li p:nth-of-type(1) img {
  width: 1.16rem;
}
.home_palacesImg ul div li p:nth-of-type(1) .saleSlogan {
  display: inline-block;
  padding: 0 .1rem 0 .1rem;
  height: .2rem;
  background: red;
  color: white;
  border-radius: 2rem 3.31rem 3.31rem 0;
  text-align: center;
  line-height: .2rem;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: .1rem;
}
.home_palacesImg ul div li .commodityName {
  font-size: .11rem;
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: .07rem 0 .07rem .1rem;
}
.home_palacesImg ul div li .commodityPrice {
  font-size: .11rem;
  color: red;
  margin: 0 0 0 .08rem;
  font-weight: bold;
}
.home_palacesImg ul div li .commoditySpec {
  color: #9e9e9e;
  margin-left: .02rem;
  font-size: .1rem;
}
.home_palacesImg ul div li .shopcarImg {
  width: .2rem;
  height: .2rem;
  background: #07c160;
  border-radius: .15rem;
  position: absolute;
  right: 0;
  bottom: .05rem;
  margin-right: .08rem;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home_palacesImg ul div li .shopcarImg img {
  width: .2rem;
}
.home_palacesImg ul div li:nth-of-type(1n) {
  margin-right: 3%;
}
.home_palacesImg ul div li:nth-of-type(2n) {
  margin-right: 0;
}
.home_palacesImg ul:nth-of-type(3) .home_palacesImg_title {
  padding-top: .15rem;
  margin-bottom: .15rem;
}
.home_palacesImg_one ul:nth-of-type(1) {
  display: none;
}
.home_palacesImg_one ul:nth-of-type(2) {
  display: none;
}
.footer {
  margin-top: .6rem;
}
