.seiz {
  font-size: 0.16rem;
}

span {
  font-size: 0.16rem;
}

.senbox {
  font-size: 0.16rem;
}

.stye {
  font-size: 0.16rem;
}

.flex {
  padding: 14px 0 60px;
  font-size: 0.18rem;
  color: #000;
  line-height: 22px;
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  z-index: 9;
  position: relative;
  box-sizing: border-box;
  margin-bottom: -54px;
  width: 100%;
}

.flex img {
  width: 100%;
}

.sws {
  position: relative;
  padding: 0px 80px 0px 45px;
  box-sizing: border-box;
  margin-top: 27px;
}

.sws img {
  position: absolute;
  left: 0px;
  top: 50%;
  margin-top: -17px;
  width: 34px;
  height: 34px;
  border-radius: 50%;
}

.sws .span {
  display: inline-block;
  line-height: 57px;
  color: #8d8a8a;
  font-size: 13px;
}

.sws .time-new {
  position: absolute;
  top: 50%;
  margin-top: -28px;
  right: 0;
  line-height: 57px;
  color: #8d8a8a;
  font-size: 13px;
}

/* .new{
        position: absolute;
      right: 10px;
      top: -12px;
      width: 30px;
      height: 23px;
      background: url(http://img05.yiguoimg.com/e/web/170113/00581/160217/new.png) no-repeat;
      background-size: 100% 100%;
  } */
.maybox {}

.dahuzhi {
  /* margin-top: -65px; */
}

.hoew {
  position: fixed;
  z-index: 99;
  top: 6.12rem;
  left: 75%;
  /* border: 1px solid #cccccc; */
}

.hoew .HOE {
  min-width: 260px;
  max-width: 260px;
  font-size: .18rem;
  background-color: black;
  color: #fff;
  text-align: center;
}

.van-button--primary {
  color: #fff !important;
  background-color: #ccc !important;
  border: 1px solid #fff !important;
}

.shenghojia {
  position: absolute;
  top: 23px;
  left: 0;
  padding: 2px 9px 0px 4px;
  box-sizing: border-box;
  height: 23px;
  line-height: 20px;
  background: #cccccc;
  text-align: left;
  color: #fff;
  border-radius: 0 15px 15px 0;
  font-size: 13px;
  opacity: 0.90;
  background: #ff6b22;
}

.zir {
  position: absolute;
  top: 23px;
  right: 10px;
  padding: 2px 8px 0px 20px;
  height: 17px;
  line-height: 16px;
  box-sizing: border-box;
  background: rgba(255, 255, 255, .85);
  border-radius: 20px;
  text-align: center;
  color: #656565;
  font-size: 12px;
}

.icon {
  position: absolute;
  left: 6px;
  top: 4px;
  background-position: 0px 0;
  width: 12px;
  height: 9px;
  background: url(http://img07.yiguoimg.com/e/web/161012/00584/105027/icon.png) no-repeat;
  background-size: 100px;
}

.box-fpx {
  margin-top: -20px;
}